.button_container{
    text-align: center;
}

button{
    background-color: #87ab69;
    border-radius: 50%;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 30px;
    color: white;
}

.takequiz{
    text-align: center;
    padding: 50px;
}